
 body {
     background-image: url('Mainpage img/img_1.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
 a {color: white}