
 body {
     background-image: url('Mainpage img/img_1.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     text-shadow: 1px 1px 3px black;

 }
 .white {color : white;}
 .white:visited {color : gray;}
 .size {font-size: 21px}